$mobile:  new-breakpoint(max-width $s-m, 4); 
$tablet:  new-breakpoint(max-width $s-t, 8); 
$intern:  new-breakpoint(max-width $s-intern, 4); 
$desktop: new-breakpoint(min-width $s-d, 12);

body {
	@include media($desktop) {
		&:after{ 
			content: "bp-desktop";
			display: none; 
		}
	}
	@include media($tablet) {
		&:after{ 
			content: "bp-tablet";
			display: none; 
		}
	}
	@include media($mobile) {
		&:after{ 
			content: "bp-mobile";
			display: none; 
		}
	}
}

.content { 
	@include clearfix;
    background-color: $c-white;
    // padding-bottom: $sp
}

.full-container { @include outer-container(100%); }
.container {
	@include clearfix;
	@include outer-container;
	@include media(max-width $max-width + ($gutter*6)) {
		margin: 0 ($gutter);
	}

	&.default {
		padding-top: $nav-height;
	}
}

.col-content {
	@include span-columns(8);
	@include clearfix;
	@include media($mobile) {
		@include span-columns(4);
		margin: 0;
	}
}
aside {
	@include span-columns(4);
	@include clearfix;
	background-color: $c-light-primary;
	padding: em(20);
	@include media($mobile) {
		@include span-columns(4);
	}
}