<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="cleartype" content="on">
<meta name="MobileOptimized" content="320">
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">


<title>{{page.title}}</title>

<meta name="description" content="{{page.meta}}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
<meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

<!--
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
-->

<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<meta name="theme-color" content="{{ site.data.settings.color }}">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald:700" rel="stylesheet">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
<script src="{{site.baseurl}}/assets/js/modernizr_2.8.3_min.js"></script>
