$icons: (
      sprite: (width: 254.74px, height: 699px, pngPath: '../img/sprite.png', svgPath: '../img/svg/sprite-svg.svg'),
    checkbox-off: (width: 22.259999999999998px, height: 19.24px, backgroundX: 0px, backgroundY: 0px),
    checkbox-on: (width: 22.259999999999998px, height: 19.24px, backgroundX: 0px, backgroundY: -32px),
    coyote: (width: 99.86px, height: 32.85px, backgroundX: 0px, backgroundY: -64px),
    jingle-jam: (width: 187.62px, height: 145.6px, backgroundX: 0px, backgroundY: -109px),
    paverkan: (width: 128.49px, height: 27.340000000000003px, backgroundX: 0px, backgroundY: -267px),
    soundcloud: (width: 242.74px, height: 33.37px, backgroundX: 0px, backgroundY: -307px),
    tree: (width: 113.06px, height: 136.22px, backgroundX: 0px, backgroundY: -353px),
    triangle: (width: 225.64px, height: 184.29px, backgroundX: 0px, backgroundY: -502px),
);