.social-network {
	text-align: center;

	&.menu-side {
		li {
			a {
				svg {
			    	fill: $c-black;
			    }
			}
		}
	}

	li {
		display: inline-block;

		a {
			display: block;
			padding: em(10px);

			svg {
			    @include transition(fill, .5s);
			    @include animation-fill-mode(backwards);
			    @include size(30px);
			    display: block;
			    fill: $c-white;

			    &:hover {
			        // fill: darken($c-dark-primary, 20);
			    }
			    @include media($mobile) {
			    	@include size(20px);
			    }
			}
		}
	}
}